@model MVC_CodeProject.Models.Employee

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    Welcome to MVC 5 Step by Step Learning <br /><br />
    <div>
        @{
            MVC_CodeProject.Models.Employee empViewData = (MVC_CodeProject.Models.Employee)
                ViewData["Employee"];
        }
        <b>Employee Details </b><br />
        Employee Name: @empViewData.firstName @empViewData.lastName <br />
        @*Could also be written as "@(empViewData.FirstName+” “+empViewData.LastName)"*@
        Employee Salary: @empViewData.salary.ToString("C");<br /><br />
    </div>
    <div>
        @{
            MVC_CodeProject.Models.Employee empViewBag = (MVC_CodeProject.Models.Employee)
                ViewBag.Employee;
        }
        <b>Employee Details</b><br />
        Employee Name: @empViewBag.firstName @empViewBag.lastName <br />
        @*Could also be written as "@(empViewBag.FirstName+” “+empViewBag.LastName)"*@
        Employee Salary: @empViewBag.salary.ToString("C");<br /><br />
    </div>
    <div>
        <b>Employee Details</b><br />
        Employee Name: @Model.firstName @Model.lastName<br />

        @if(Model.salary > 15000)
        {
            <span style="background-color:yellow">
                Employee Salary: @Model.salary.ToString("C")
            </span>
        }
        else
        {
            <span style="background-color:green">
                Employee Salary: @Model.salary.ToString("C")
            </span>         
        }

    </div>
        
</body>
</html>
